@tailwind base;
@tailwind components;
@tailwind utilities;


.flip-hover {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-hover:hover {
  transform: rotateY(180deg);
}



.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Optional custom scrollbar styling */
.scrollbar-hide::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes rotateBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-background {
  background-image: url('https://html.themexriver.com/it-firm/images/background/pattern-18.png');
  background-repeat: no-repeat;
  background-size: cover; 
  /* background-position: right; */

  width: 25%;
  height: 35vh;
  
 
  animation: rotateBackground 10s linear infinite;
  /* To rotate background instead of entire element: */
  
}
